<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>Balance Sheet</title>
    <link rel="stylesheet" href="css/result.css">

    <!-- google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>

<body>

  <header>

  </header>

    <table class="container-table">
        <tr class="box-sheet">
          <td>Ticker:</td>
          <td><%= symbol %></td>
          <td>Ano: </td>
          <td><%= fYear %></td>
        </tr>
        <tr>
          <td>Moeda:</td>
          <td><%= reportedCurrency %></td>
          <td>Caixa e Equivalentes: </td>
          <td>$<%= cashAndEquivalents %></td>
        </tr>
        <tr>
          <td>Estoques:</td>
          <td>$<%= invetory %></td>
          <td>Recebíveis CP: </td>
          <td>$<%= netReceivables %></td>
        </tr>
        <tr>
          <td>Investimentos CP:</td>
          <td>$<%= shortTermInvestments %></td>
          <td>Investimentos LP: </td>
          <td>$<%= longTermInvestments %></td>
        </tr>
        <tr>
          <td>Dívida CP:</td>
          <td>$<%= shortTermDebt %></td>
          <td>Dívida LP: </td>
          <td>$<%= longTermDebt  %></td>
        </tr>   
        <tr>
          <td>Dívida Líquida:</td>
          <td>$<%= netDebt %></td>
          <td>Patrimônio Líquido: </td>
          <td>$<%= totalEquity %></td>
        </tr>
        <tr>
          <td>Ativo Total:</td>
          <td>$<%= totalAssets %></td>
          <td>Passivo Total: </td>
          <td>$<%= totalLiabilities %></td>
        </tr>
        
      </table>

      <form action="/">
        <button class="btn"> Search again ⬅ </button>
      </form>




</body>

    <footer>
      © Copyright 2022 Breno Bonani 
    </footer>

</html>